  body {
  background-color: black;
  width: 600px;
  align-self: center;
  padding-left: 50px;
}

h1 {
  color: red;
  width: 100px;
}

p {
  color: red;
  width: 500px;
}

#first {
  color: green;
  width: 500px;
}
#second {
  color: orange;
  width: 200px;
}

.third
{
  color: yellow;
  width: 300px;
}

p [id]
{
  border: 2px solid black;
  width: 10px;
}

img[src]
{
  border: 2px solid black;
  width: 500px;
}
